@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
body{
	font-family: "Open Sans", sans-serif;
	background: #f6f9ff;
	color: #444444;
}
#main{
	margin-top: 60px;
	padding: 20px 30px;
	transition: all 0.3s;
}
@media (max-width: 1199px){
	#main{
	  padding: 20px;
	}
}
.card{
	margin-bottom: 30px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-title{
	padding: 20px 0 15px 0;
	font-size: 18px;
	font-weight: 500;
	color: #012970;
	font-family: "Poppins", sans-serif;
}
.card-body{
	padding: 0 20px 20px 20px;
}
@media (min-width: 1200px){
	#main, #footer {
	  margin-left: 300px;
	}
}
#call_text{
	padding-top: 5px;
}