{% extends 'Base.html' %}
{% load static %}
{% block title %}Hóa đơn nhập hàng{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_Transaction.css' %}">
{% endblock style %}
{% block main %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-md-auto">
                        <h2><b>Hóa đơn nhập hàng</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover text-center" id="DataTable">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ngày nhập</th>
                        <th>Mã hóa đơn</th>
                        <th>Mã NCC</th>
                        <th>Tổng tiền</th>
                        <th>Đã trả</th>
                        <th>Trạng thái</th>
                        <th>Điều chỉnh</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Bill_of_Import in Bill_of_Import_data %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{Bill_of_Import.ngaynhap}}</td>
                        <td>{{Bill_of_Import.mahoadon}}</td>
                        <td>{{Bill_of_Import.manhacungcap}}</td>
                        <td>{{Bill_of_Import.tongtien}}</td>
                        <td>{{Bill_of_Import.datra}}</td>
                        <td>{{Bill_of_Import.trangthai}}</td>
                        <td>
                            <center>
                                <a href="#Edit-{{forloop.counter}}" class="edit" data-bs-toggle="modal"><i class="fa-solid fa-pen-to-square"></i></a>
                            </center>
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div><b>Tổng tiền: </b>{{item}}</div>
        </div>
    </div>
    {% for i in Bill_of_Import_data %}
        <div id="Edit-{{forloop.counter}}" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="Bill_of_Import_UPDATE/{{i.id}}" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin nhập hàng</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Ngày nhập</label>
                                <input class="form-control" value="{{i.ngaynhap}}" type="text" readOnly="true">
                            </div>
                            <div class="form-group">
                                <label>Mã hóa đơn</label>
                                <input class="form-control" value="{{i.mahoadon}}" name="mahoadon" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>Mã NCC</label>
                                <input class="form-control" value="{{i.manhacungcap}}" name="manhacungcap" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>Tổng tiền</label>
                                <input name="tongtien" value="{{i.tongtien}}" type="text" class="form-control" required>
                            </div>
                            
                            <div class="form-group">
                                <label>Đã trả</label>
                                <input name="datra" value="{{i.datra}}" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select class="form-control" name="trangthai">
                                    <option value="{{i.trangthai}}">{{i.trangthai}}</option>
                                    <option value="Đã thanh toán">Đã thanh toán</option>
                                    <option value="Chưa thanh toán hết">Chưa thanh toán hết</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock main %}
{% block javascript %}
    <script src="{% static 'js/Product.js' %}"></script>
{% endblock javascript %}